/** Reset *//

* {
   margin: 0;
   padding: 0;
}

body {
    font-family: 'Lato', 'Helvetica Neue', sans-serif;    
    margin: 0;
    padding: 0;
}

/**Schriften**/

h1 {
	font-size: 2em;
}

h2 {
	color:#00b8ff;
    font-size: 1.6em;
}

p {
    font-size: 1em;
    line-height: 1.7em;
    word-spacing: 0.12em;
}

li {
    font-size: 1em;
    line-height: 1.7em;
}

/**Schriften ende**/

/**Abstand**/

.spacer { 
    display: block;
    margin: 50px 0px 50px 0px;
} 


/**Linie_Titel**/

#line { 
color:#808080; 
size:1px; 
width:75%;
z-index: -1;
} 

/**Linie_Titel_ende**/

main {
    display: block;
}

header {
    height: auto;
    width: 100%;
} 

/** Bildstreifen header **/

#bildstreifen-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 0px;
    z-index: -1;
    position: relative;    
}


/**Menue Links **/

#left-row {
    width: 25%;
    min-width: 300px;
    height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 1;
}

/**Menue-inner**/

a:link    {
    color: #808080;
    text-decoration: none;
}
a:visited {
    color: #808080;
    text-decoration: none;
}
a:focus   {
    color: #808080;
    text-decoration: none;
}
a:hover   {
    color: #00b8ff;
    text-decoration: none;
}
a:active  {
    color: #808080;
    text-decoration: none;
}

#left-row-inner{
    margin: 10px 50px 50px 50px;
}


/**Content **/

#content {
    width: 75%;
    height: auto;
    position: absolute;
    left: 25%;
}

/**content-inner**/

#content-inner {
    margin: 10px 50px 50px 50px;
}


/**footer**/

footer {
    color: #808080;
    width: 75%;
    height: 50px;
    position:fixed;
    left: 25%;
    bottom: 0;
    background-color:  #FFFFFF;
    z-index: 0;
}

footer_inner {
    margin: 10px 50px 50px 50px;
    position:fixed;
}

/** Bilder nebeneinander **/

.img1 {
    width: 50%;
    height: auto;
    float: left;
    margin-bottom: 15px;

}