/** Reset *//

* {
   margin: 0;
   padding: 0;
}

body {
    font-family: 'Lato', 'Helvetica Neue', sans-serif;    
    margin: 0;
}

main {
    display: block;
}


/** Bildstreifen header **/

#bildstreifen-header {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}